@-moz-document url("chrome://global/content/commonDialog.xhtml") {
  window {
    background: transparent !important;

    & #commonDialog {
      padding: 0px !important;
      border-radius: 6px 6px 0px 0px;
      background: color-mix(in srgb, var(--beige-color), transparent 30%) !important;
    }

    &[neediconheader] #commonDialog {
      background: color-mix(in srgb, var(--beige-color), white 30%) !important;
    }
  }

  #dialogGrid {
    padding-inline: 10px !important;
    padding-block-start: 10px !important;
  }

  .question-icon {
    list-style-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cg fill='none'%3E%3Cpath fill='url(%23fluentColorQuestionCircle320)' d='M30 16c0 7.732-6.268 14-14 14S2 23.732 2 16S8.268 2 16 2s14 6.268 14 14'/%3E%3Cpath fill='url(%23fluentColorQuestionCircle321)' d='M17.5 22a1.5 1.5 0 1 1-3 0a1.5 1.5 0 0 1 3 0M14 12c0-.537.18-1.041.497-1.398c.301-.339.774-.602 1.503-.602c1.308 0 2.382 1.348 2.03 2.758c-.18.722-.61 1.135-1.257 1.756l-.178.17C15.866 15.39 15 16.328 15 18a1 1 0 1 0 2 0c0-.827.353-1.267.985-1.877l.191-.182c.614-.58 1.466-1.385 1.794-2.699C20.618 10.653 18.692 8 16 8c-1.271 0-2.298.487-2.997 1.273C12.32 10.041 12 11.037 12 12a1 1 0 1 0 2 0'/%3E%3Cdefs%3E%3ClinearGradient id='fluentColorQuestionCircle320' x1='2' x2='30' y1='2' y2='30' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%230fafff'/%3E%3Cstop offset='1' stop-color='%232764e7'/%3E%3C/linearGradient%3E%3ClinearGradient id='fluentColorQuestionCircle321' x1='12.708' x2='17.351' y1='8.272' y2='23.906' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23fdfdfd'/%3E%3Cstop offset='1' stop-color='%23cceaff'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/g%3E%3C/svg%3E") !important;
    width: 64px !important;
    height: 64px !important;
  }

  #infoBody {
    font-size: 1.1rem
  }

  .titleIcon {
    visibility: collapse
  }

  #titleText {
    font-size: 1.2rem
  }

  .dialog-button-box {
    background: light-dark(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.4));
    gap: 8px;
    padding: 8px;

    & button {
      appearance: none !important;
      background: light-dark(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.1)) !important;
      border-radius: 6px !important;
      border: 1px solid transparent !important;
      flex: 1 !important;
      margin: 0px !important;
      padding-block: 4px !important;

      & .button-text {
        font-size: 1.1rem !important;
      }

      &:hover {
        background: light-dark(rgba(255, 255, 255, 0.65), rgba(255, 255, 255, 0.15)) !important;
      }

      &:active {
        background: light-dark(rgba(255, 255, 255, 0.45), rgba(255, 255, 255, 0.07)) !important;
      }
    }
  }

  @media (prefers-color-scheme: dark) {
    window {
      & #commonDialog {
        background: color-mix(in srgb, var(--beige-color), rgb(0, 0, 0, 0.7) 90%) !important;
      }

      &[neediconheader] #commonDialog {
        background: color-mix(in srgb, var(--beige-color), rgb(0, 0, 0, 1) 90%) !important;
      }
    }
  }
}